<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../styles/stylesheet.css" rel="stylesheet" >
</head>
<body>
<header>
    <div class="wrapper">
        <div class="bar">
            <p class="logo"> scuffler. </p>
            <nav>
                <ul>
                    <li> Home </li>
                    <li> About </li>
                    <li> Contact </li>
                </ul>
            </nav>
        </div>
    </div>
</header>

<main>
<div class="wrapper">

    <div class="columns">
    
    <% projects.forEach(project => { %>
       <div class="card"> 
           <img src="../images/<%= project.image %>">
           <h2> <%= project.title %> </h1>
        </div>
    <% }) %>

    </div>

<div class="wrapper">
</main>

</body>
</html>