* {
    font-family: sans-serif;
    color: darkslategrey
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
}

header {
    background: white;
    padding: 1rem;
    border-bottom: solid 1px black;
    position: sticky;
    top: 0;
}

main {
    padding: 1rem;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 2rem;
}

.columns {
    display: flex;
}

.card {
    flex-basis: 100%;
    border: 1px black solid;
    margin-left: 2rem;
    padding: 1rem;
    border-radius: 4px;
}

.card:first-of-type {
    margin-left: 0;
}

.card img {
    width: 100%;
}